#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=nautilus --no-desktop computer:
Name=Computer
Icon=/home/terroreek/terror.eek@gmail.com/Personal/Linux/Icons/Arc-Red/devices/128/computer.png
Name[en_CA]=Computer
