#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=hue_ui
Name=Hue Plus
Icon=/home/terroreek/.icons/Arc-Red/apps/scalable/colorhug-backlight.svg

